.navbar {
    background: #004E59!important;
}
ul {
    margin-bottom: inherit!important;
}

.boton{
    margin-right: 40px;
    height: 45px;
    padding: 8px 20px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    line-height: 25px;
    color: #ffffff;
    transition: all 300ms ease;
    text-align: center;
    min-width: 170px;
}

.boton:hover{
    color: black;
    background-color: skyblue;
}

.navegacion>li{
    list-style: none;
    margin-right: 40px;
    padding: 20px 0;
}

.navegacion>li>a{
    color: white;
}

.separacion{
    padding: 10px;
}