<div class="page-wrapper">
    <app-menu></app-menu>

    <section class="page-title" style="background-image: url(assets/images/nosotros/bg.png);">
        <div class="auto-container">
            <h1>Sobre nosotros</h1>
            <div class="text">Borneo Advisors es una compañía independiente especializada en los segmentos de oficinas y locales comerciales en los que opera en áreas de inversión y agencia con un enfoque adaptado a perfiles tanto institucionales como a privados.
                Fundamentada en los valores de integridad, profesionalidad y experiencia de sus socios, Borneo Advisors se nutre de la aportación de sus dilatadas experiencias en el negocio inmobiliario nacional e internacional.
                Borneo Advisors tiene su sede en Madrid y opera en el mercado internacional gracias a la suma de la amplia experiencia en inversión de nuestra compañía australiana asociada Blueprint Property. BluePrint Property es una consultora/boutique inmobiliaria basada en Sydney. Con su aportación, Borneo Advisors dispone de una plataforma de asesoramiento a inversores que permite conectar el mercado inmobiliario europeo con el de Asia-Pacifico. Este puente comercial —en el que acumulamos larga y positiva experiencia— abre la posibilidad a inversores de ambos mercados a conocer oportunidades de alto interés en zonas de alta seguridad operativa y razonables rendimientos.</div>
        </div>
    </section>

    <section class="what-we-do">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>¿Qué hacemos?</h2>
                <span class="divider"></span>
                <div class="text">Diseñamos a medida cada proceso de comercialización, ya sea de venta o alquiler de edificios completos o superficies modulares. Proporcionamos un servicio eficiente, tanto para propietarios e inversores como para usuarios que buscan el espacio más adecuado para el desarrollo de su propia actividad empresarial. 
                    La evolución del mercado de trabajo ha favorecido la creación de espacios que favorezcan la colaboración, creatividad e intercambio de ideas en un marco innovador que favorezca la motivación del empleado. Por este motivo, considerábamos de interés crear una plataforma de búsqueda de espacios flexibles que den respuesta a las diferentes demandas de compañías, independientemente de su tamaño y actividad, con soluciones adaptadas a su necesidad en un periodo de tiempo determinado.</div>
            </div>

            <div class="row">
                <!-- Video Column -->
                <div class="video-column col-lg-6 col-md-12 col-sm-12">
                    <div class="video-box">
                        <figure class="image"><img src="assets/images/nosotros/our.png" alt=""></figure>
                    </div>
                </div>

                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="inner">
                            <h4>Nuestra asombrosa historia</h4>
                            <p>Curabitur elementum urna augue, eu porta purus gravida in. Cras consectetur, lorem a cursus vestibulum, ligula purus iaculis nulla, in dignissim risus turpis id justo. Sed eleifend ante et ligula eleifend ultricies. Fusce porta feugiat nisl, eget faucibus augue ultrices et. Nullam id leo fringilla, viverra est ut, faucibus lectus. Integer vel finibus ex, et convallis enim. Curabitur tristique convallis neque a eleifend. Donec mattis leo in velit scelerisque, sit amet ultricies erat mollis.</p> 
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="fact-counter">

                <!--Column-->
                <div class="counter-column wow fadeInUp">
                    <div class="count-box">
                        <span class="count-text" data-speed="5000" data-stop="985">+30</span>
                        <h4 class="counter-title">Transacciones</h4>
                    </div>
                </div>

                <!--Column-->
                <div class="counter-column wow fadeInUp" data-wow-delay="400ms">
                    <div class="count-box">
                        <span class="count-text" data-speed="5000" data-stop="796">+30</span>
                        <h4 class="counter-title">Clientes satisfechos</h4>
                    </div>
                </div>

                <!--Column-->
                <div class="counter-column wow fadeInUp" data-wow-delay="800ms">
                    <div class="count-box">
                        <span class="count-text" data-speed="5000" data-stop="3890">+30</span>
                        <h4 class="counter-title">Años de experiencia entre los socios</h4>
                    </div>
                </div>

                <!--Column-->
                <div class="counter-column wow fadeInUp" data-wow-delay="1200ms">
                    <div class="count-box">
                        <span class="count-text" data-speed="5000" data-stop="80">+50.000</span>
                        <h4 class="counter-title">m2 transaccionados</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-howitworks></app-howitworks>
</div>
<app-footer></app-footer>
