#cajacookies {
  box-shadow: 0px 0px 5px 5px #808080;
  background-color: white;
  color: black;
  padding: 10px;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 0px;
  bottom: 0px;
  width: 100%;
}

#cajacookies button {
  color: black;
}
