.maps-localization {
    height: 500px;
    .how-to-get {
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #004E59;
        border-radius: 6px 6px 0 0;
        color: white;
        font-size: 26px;
        font-weight: 600;
    }
    agm-map {
        height: 100%;
    }
}

.prizes-component {
    .row-types {
        display: flex;
        justify-content: space-between;
        
        .name {
            width: 30%;
        }
        .range, .price {
            display: flex;
            align-items: center;
        }


        .icon-mr {
            margin-right: 10px;
        }
    }
}

.centrar{
    margin: auto;
    display: block;
    max-height: 450px;
}

.posicionBoton{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    color: red;
    padding-right: 5px;
}

.modal-body{
    background: lightgray;
}

.modal-header{
    background: lightgray;
}