<div class="page-wrapper bg_alice">
  <app-menu></app-menu>

  <section class="page-title" style="background-image: url(assets/images/nosotros/our.png);">
    <div class="auto-container">
      <h1>Preguntas frecuentes</h1>
      <div class="text">¿Tienes algunda duda? Esperamos poder resolvertela con las pregunta más frecuentes que nos
        surgieren nuestros clientes.</div>
    </div>
  </section>

  <section class="accordion">
    <div class="container">
      <div class="row">
        <div class="col-12 py-5">
          <!--Accordion wrapper-->
          <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card mb-4">

              <!-- Card header -->
              <div class="card-header" role="tab" id="headingOne1">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                  aria-controls="collapseOne1">
                  <h5 class="mb-0 py-2">
                    Oficina tradicional <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                data-parent="#accordionEx">
                <div class="card-body">
                  Arrendamiento de espacio de oficinas mediante un contrato privado de arrendamiento, asumiendo la
                  gestión del espacio, la contratación de todos los suministros y los costes de adecuación junto al
                  mobiliario (Implantación)

                </div>
              </div>

            </div>
            <!-- Accordion card -->

            <!-- Accordion card -->
            <div class="card mb-4">

              <!-- Card header -->
              <div class="card-header" role="tab" id="headingTwo2">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                  aria-expanded="false" aria-controls="collapseTwo2">
                  <h5 class="mb-0 py-2">
                    Oficina compartida <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                data-parent="#accordionEx">
                <div class="card-body">
                  Compartir una oficina convencional con una o varías empresas, donde cada una dispone de su propio
                  espacio independiente o puestos de trabajo delimitados y donde se comparten zonas comunes tales como
                  recepción, salas de reunión u office. Es una opción utilizada para repartir los costes de la oficina
                  entre varias compañías. Dichas compañías pueden tener relación o ser completamente independientes.

                </div>
              </div>

            </div>
            <!-- Accordion card -->

            <!-- Accordion card -->
            <div class="card mb-4">

              <!-- Card header -->
              <div class="card-header" role="tab" id="headingThree3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                  aria-expanded="false" aria-controls="collapseThree3">
                  <h5 class="mb-0 py-2">
                    Centro de negocios <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                data-parent="#accordionEx">
                <div class="card-body">
                  Es un emplazamiento en el que se ofrecen espacios físicos de trabajo equipados tales como oficinas,
                  despachos, salas de reuniones etc. El objetivo fundamental es que las compañías puedan llevar a cabo
                  su actividad profesional de una manera sencilla sin comprometer largos periodos de arrendamiento y
                  utilizando desde el primer día instalaciones y servicios que, individualmente, tendrían un elevado
                  coste de adquisición y mantenimiento.

                </div>
              </div>

            </div>
            <!-- Accordion card -->

            <!-- Accordion card -->
            <div class="card mb-4">

              <!-- Card header -->
              <div class="card-header" role="tab" id="headingThree4">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree4"
                  aria-expanded="false" aria-controls="collapseThree4">
                  <h5 class="mb-0 py-2">
                    Coworking <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4"
                data-parent="#accordionEx">
                <div class="card-body">
                  Es una práctica por la que profesionales que no comparten ni empresa ni sector de actividad, se unen
                  para trabajar juntos en un mismo espacio, pero aportándose valor mutuamente a través de las conexiones
                  generadas. No sólo se trata de ahorrar dinero, sino de encontrar entornos de trabajo innovadores que
                  nos permitan ser más abiertos y productivos

                </div>
              </div>

            </div>
            <!-- Accordion card -->

            <!-- Accordion card -->
            <div class="card mb-4">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingThree5">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree5"
                    aria-expanded="false" aria-controls="collapseThree5">
                    <h5 class="mb-0 py-2">
                      Espacio flexible de trabajo <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>
  
                <!-- Card body -->
                <div id="collapseThree5" class="collapse" role="tabpanel" aria-labelledby="headingThree5"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Es la evolución de la oficina tradicional cuyo objetivo es satisfacer las necesidades de las empresas en función del tipo de trabajo a desarrollar siendo completamente adaptable a su evolución en el tiempo 

  
                  </div>
                </div>
  
              </div>
              <!-- Accordion card -->
          </div>
          <!-- Accordion wrapper -->
        </div>
      </div>
    </div>
  </section>

</div>

<app-footer></app-footer>
